.row
  .col
    .card.mb-3
      %h5.card-header.d-flex.align-items-center
        = link_to gravatar_for(post.user, size: 30), post.user
        = link_to post.user.username, post.user, class: 'ml-1 flex-grow-1'
        - if post.user == current_user
          = link_to post, class: 'text-muted small', method: :delete, data: { confirm: '本当に削除しますか？' } do
            %i.fas.fa-trash
      .card-body
        = simple_format h(post.content)
      .card-footer.d-flex.aline-items-center
        - if current_user.like? post
          = link_to unlike_post_path(post), method: :delete do
            %i.fas.fa-heart
        - else
          = link_to like_post_path(post), method: :post do
            %i.far.fa-heart
        %span.ml-2.flex-grow-1= "#{post.likes.count} いいね"
        %span= post.created_at
